
*{
    color:gainsboro;
}

p{
    padding: 2vh 0;
}

a, button{
    color: #debfff;
}

a:hover, button:hover{
    color:white;
}

h1, h2{
    font-family: 'Playfair Display', serif;
}

.content{
    min-height: 100vh;
    padding-top: 8vh;
}

.content-part{
    margin: 2vh 0 0 0;
    padding: 0 1.25rem;
    min-height: 30vh;
}
